div {
	margin-bottom: 10px
}
div.game {
	background: #CCCCCC;
	border-radius: 20px;
	border: 16px solid #CCCCCC;
}
table {
	border-spacing: 1px;
	color: #656665;
	width: 100%;
	height: 100%;
}
td {
	position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td div {
	background: black;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	cursor: pointer;
}
td div.alive {
	background: white;
}
input {
	width: 70px;
}
input[type=text]{
	width: 62px;
}
input[type=button] {
	background: linear-gradient(to bottom, #fff 0%,#666666 100%);
	color: #fff;
	font-size: 16px;
	text-shadow: 0 1px 0 #757575;
	padding: 4px 0 5px 0;
	margin: 0;
	cursor: pointer;
	border: 0;
	border: 1px solid #4F5566;
	border-radius: 5px;
}
input[type=button]:hover {
	background: linear-gradient(to bottom, #fff 0%,#000 100%);
}
input.wide {
	width: 146px;
}
